<form id="searchForm">
	<label for="fsearchFormQuery">Name</label>
	<input type="text" id="fsearchFormQuery" name="query" placeholder="Type film name" autofocus />
	<button type="submit">Search</button><button type="reset">Reset</button>
</form>
